.usersdata{
    position: absolute;
    top: 90px;
    left: 50px;
    width: 88%;
    height: 80vh;
    overflow: scroll;
}
.home {
    width: 100%;
    height: 500px;
    padding: 10px 7%;
}


.home .tableform {
    width: 1200px;
    height: 400px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
    overflow: scroll;
}

.home .tableform tr {
    display: grid;
    grid-template-columns: 80px 150px 150px 270px 180px 260px;
    grid-gap: 10px;
    padding: 10px;

}

.home .tableform .tabletop {
    width: 100%;
    height: 60px;
    font-size: 25px;
    font-weight: 400;
    margin: 10px 0px;
    color: white;
    background-color: rgb(92, 92, 178);
    text-align: center;
}

.home .tableform .tabledown {
    width: 100%;
    height: 80px;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
    padding: 25px 5px;
}

.home .tableform .tabledown button {
    background-color: aqua;
    margin: 5px 10px;
    border: 1px solid rgb(92, 92, 178);
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    width: 60px;
}

.home .tableform .tabledown .view {
    background-color: rgb(92, 92, 178);
    color: white;
}

.home .tableform .tabledown .edit {
    background-color: transparent;
    color: rgb(92, 92, 178);
}

.home .tableform .tabledown .delete {
    background-color: red;
    border: 1px solid red;
    color: white;
}